
<h3>Add A Recipe</h3>

  <form action='/add_recipe' method='post'>
    <label for='recipe_name'>Recipe Name</label>
    <input id='recipe_name' name='recipe_name' type='text'>

    <label for='instructions'>Instructions</label>
    <input id='instructions' name='instructions' type='text'>

    <label for='ingredients'></label>
    <input id='recipe_name' name='recipe_name' type='text'>

    <button type="submit">add new recipe</button>
</form>

<ul>
  <% @recipes.each() do |recipe| %>
   <li><%= recipe.recipe_name %> </li>
  <% end %>
</ul>

<p><a href='/'>to home page</a></p>
