<h1>Recipe Box</h1>

<p></p>



<p>Add a new Category</p>

<div class="jumbotron">
  <form action='/categories' method='post'>
    <label for='category_name'>Category Name</label>
    <input id='category_name' name='category_name' type='text'>

    <button type="submit" class="btn btn-sm btn-primary">Add Category</button>
  </form>

</div>

<% if @categories.any?() %>
<p>Click on a category to see its recipes:</p>



<ul>
  <% @categories.each do |category| %>
  <li><a href="/categories/<%= category.id() %>"><%= category.category_name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no categories!</p>
<% end %>
