
<h1>Add A Recipe</h1>

  <form action='/recipes' method='post'>
    <label for='recipe_name'>Recipe Name</label>
    <input id='recipe_name' name='recipe_name' type='text'>
<br>
    <label for='ingredients'>Instructions</label>
    <input id='recipe_name' name='recipe_name' type='text'>
<br>
    <label for='instructions'>Ingredients</label>
    <input id='instructions' name='instructions' type='text'>
<br>
    <button type="submit">add new recipe</button>
</form>



<p><a href='/index'>home - see all recipes</a></p>
